StackLayout {
    width: 100%;
    padding: 25 15;
}

.login-text {
    font-size: 20px;
}

.bg-success {
    background: #19ac92;
    color: white;
}

.btn-primary {
    background: #15138a;
    color: white;
}

Image {
    margin-top: 30;
    margin-bottom: 25;
    height: 70;
}

.mb {
    margin-bottom: 10;
}