<ActionBar class="bg-success action-bar">

    <NavigationButton text="Atras" android.systemIcon="ic_menu_back" (tap)="irAtras()"></NavigationButton>

    <Label class="action-bar-title" text="UTTAB-EXAMENES"></Label>

</ActionBar>

<ScrollView orientation="vertical">

    <StackLayout class="form">

        <Label class="text-center login-text mb" textWrap="true" text="LOGIN UTTAB-EXAMENES"></Label>


        <form #usuario="ngForm" ngForm>

            <TextField required hint="Matricula" autocorrect="false" autocapitalizationType="none" name="matricula" [(ngModel)]="matricula" class="input input-border mb"></TextField>

            <TextField required hint="Contraseña" secure="true" name="contrasena" [(ngModel)]="contrasena" class="input input-border mb"></TextField>

            <Button [isEnabled]="usuario.valid" [text]="'Ingresar'" class="btn btn-primary btn-home" (tap)="login(usuario)"></Button>

        </form>

    </StackLayout>
    <!-- TERMINA EL CONTENIDO DE LA PAGINA  -->
</ScrollView>