<ActionBar class="bg-success action-bar">
    <!-- 
    Botón de navegación para usuarios
    -->
    <NavigationButton *ngIf="auth" ios:visibility="collapsed" icon="res://menu" (tap)="abrirMenu()"></NavigationButton>
    <!-- 
    Use ActionItem para IOS con la posición establecida a la izquierda. Utilizando el
    NavigationButton como un botón lateral en iOS no es posible,
    porque su función es navegar siempre hacia atrás en la aplicación.
    -->
    <ActionItem *ngIf="auth" icon="res://navigation/menu" android:visibility="collapsed" (tap)="abrirMenu()" ios.position="left">
    </ActionItem>
    <Label class="action-bar-title" text="UTTAB-EXAMENES"></Label>
</ActionBar>


<!-- CONTENIDO DE LA PAGINA -->
<GridLayout class="page page-content">
    <StackLayout class="home-content">

        <Label class="text-center bienvenido" textWrap="true" text="Bienvenido al sistema de evaluación virtual UTTAB">
        </Label>

        <Image src="~/assets/images/logout.png"></Image>

        <Button [text]="'Iniciar Sesion'" class="btn btn-primary btn-home" (tap)="login()"></Button>
        <Button [text]="'Registrarse'" class="btn btn-success btn-home" (tap)="registro('/registro')"></Button>



    </StackLayout>
</GridLayout>
<!-- TERMIONA EL CONTENIDO DE LA PAGINA  -->