<ActionBar class="bg-success action-bar">

    <NavigationButton text="Atras" android.systemIcon="ic_menu_back" (tap)="irAtras()"></NavigationButton>

    <Label class="action-bar-title" text="UTTAB-EXAMENES"></Label>

</ActionBar>

<ScrollView orientation="vertical">

    <StackLayout class="form">

        <Label class="text-center registroText mb" textWrap="true" text="Registro UTTAB-EXAMENES"></Label>

        <ActivityIndicator [busy]="isLoading" [visibility]="isLoading ? 'visible' : 'collapse'" row="1" horizontalAlignment="center" verticalAlignment="center"></ActivityIndicator>

        <form #usuario="ngForm" ngForm>

            <TextField required hint="Matricula" autocorrect="false" autocapitalizationType="none" name="matricula" [(ngModel)]="matricula" class="input input-border mb"></TextField>

            <TextField required hint="Nombre Completo" name="nombre" [(ngModel)]="nombre" class="input input-border mb"></TextField>

            <TextField required hint="Correo" keyboardType="email" autocorrect="false" autocapitalizationType="none" name="correo" [(ngModel)]="correo" class="input input-border mb"></TextField>

            <TextField required hint="Contraseña" secure="true" name="contrasena" [(ngModel)]="contrasena" class="input input-border mb"></TextField>

            <TextField required hint="Confirmar Contraseña" secure="true" name="contrasena2" [(ngModel)]="contrasena2" class="input input-border"></TextField>

            <ListPicker name="carrera" [(ngModel)]="carrera" *ngIf="item != undefined" [items]="item" selectedIndex="0" class="mb-list"></ListPicker>

            <Button [isEnabled]="usuario.valid && usuario.value.contrasena == usuario.value.contrasena2" [text]="'Registrarme'" class="btn btn-primary btn-home" (tap)="registro(usuario)"></Button>

        </form>

    </StackLayout>

</ScrollView>
<!-- TERMINA EL CONTENIDO DE LA PAGINA  -->