StackLayout {
    width: 100%;
    padding: 25 15;
}

.mb-list {
    margin-top: -35rem;
    margin-bottom: 5rem;
}

.bg-success {
    background: #19ac92;
    color: white;
}

.btn-primary {
    background: #15138a;
    color: white;
}

Image {
    margin-top: 30;
    margin-bottom: 25;
    height: 70;
}

.registroText {
    font-size: 20px;
}

.mb {
    margin-bottom: 10;
}