FlexboxLayout {
    justify-content: center;
    align-items: center;
}

StackLayout {
    width: 300;
    padding: 10 16;
}

.bg-success {
    background: #19ac92;
    color: white;
}

Image {
    margin-top: 30;
    margin-bottom: 25;
    height: 70;
}

.registroText {
    font-size: 24px;
}

.mb {
    margin-bottom: 10;
}